.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  padding: 0 20px;
}

.user-info {
  color: #fff;
  margin-right: 10px;
  font-size: 18px; 
}

.site-layout-content {
  padding: 24px;
  min-height: 280px;
  background: #fff;
}

.avatar {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white; 
  border-radius: 50%; 
  padding: 2px; 
}

.menu {
  position: absolute;
  right: 0;
  top: 100%; 
  z-index: 1000; 
}
